@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;
        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;
        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;
        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;
        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;
        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;
        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;
        --radius: 0.5rem;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --font-din-pro: "DIN Pro", sans-serif;
        /*size*/
        --Font10: 10px;
        --Font11: 11px;
        --Font12: 12px;
        --Font13: 13px;
        --Font14: 14px;
        --Font15: 15px;
        --Font16: 16px;
        --Font17: 17px;
        --Font18: 18px;
        --Font19: 19px;
        --Font20: 20px;
        --Font21: 21px;
        --Font22 : 22px;
        --Font23 : 23px;
        --Font24 : 24px;
        --Font25 : 25px;
        --Font26 : 26px;
        --Font27 : 27px;
        --Font28 : 28px;
        --Font30 : 30px;
        --Font34 : 34px;
        --Font38 : 38px;
        --Font40 : 40px;
        --Font48 : 48px;
        --Font55 : 55px;
        --Font56 : 56px;
        --Font64 : 64px;
        --Font80 : 80px;
        --Font85 : 85px;
        }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;
        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;
        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;
        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;
        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;
        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;
        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;
        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Pour Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none; 
        scrollbar-width: none;  
    }
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-din-pro), var(--font-roboto), sans-serif;
}

header, header .font-roboto, .font-roboto {
    font-family: var(--font-roboto), var(--font-din-pro), sans-serif !important;
}

header, header .font-roboto-condensed, .font-roboto-condensed {
    font-family: var(--font-roboto-condensed), var(--roboto), var(--font-din-pro), sans-serif !important;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  /* -webkit-backdrop-filter: blur(10px);
  -moz-webkit-backdrop-filter: blut(10px); */
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease;
}
.modal-overlay.active {
    visibility: visible;
    opacity: 1;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
  
.scrollbar-hide {
    scrollbar-width: none;
}
  
.scroll-container {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        margin: 0;
        padding: 0;
        font-family: 'DIN Pro', sans-serif;
        font-smooth: always; /* Rend la police plus nette sur macOS */
        -webkit-font-smoothing: antialiased; /* Pour un meilleur rendu sur Webkit */
        -moz-osx-font-smoothing: grayscale; /* Optimisation sur macOS */
        text-rendering: optimizeLegibility; /* Meilleur rendu du texte */
        @apply bg-background text-foreground; /* Tailwind styles */
        zoom: 1; /* Évite tout problème avec le zoom */
    }

    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (   min--moz-device-pixel-ratio: 2), only screen and (     -o-min-device-pixel-ratio: 2/1), only screen and (        min-device-pixel-ratio: 2), only screen and (                min-resolution: 192dpi), only screen and (                min-resolution: 2dppx) {

        /*zomm Retina-specific stuff here */
        body {
            zoom: 100%;
        }
    }


}


.flex-center {
    @apply flex justify-center items-center;
}

.perspective {
    transform: perspective(800px) rotatex(7deg) !important;
}

.rotate-coffee-bean {
    transform: rotate(13deg) !important;
}

.bg-loading {
    background: rgb(3, 239, 161);
    background: radial-gradient(
            circle,
            rgba(3, 239, 161, 1) 42%,
            rgba(0, 168, 243, 1) 100%
    );
}

.group-hover img {
    -webkit-mask-image: url('../public/Images/noun-co2-6844008.svg');
    mask-image: url('../public/Images/noun-co2-6844008.svg');
    background-color: #64ff58;
    width: 60px;
    height: 60px;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.bg-buy-coffee {
    background: rgb(3, 239, 161);
    background: radial-gradient(
            circle,
            rgba(3, 239, 161, 1) 42%,
            rgba(0, 168, 243, 1) 100%
    );
}

@media (min-width: 768px) {
    .masonry-layout {
      grid-template-columns: repeat(3, 1fr);
    }
}

.imagesAnim {
    position: absolute;
}

.scroll-hidden::-webkit-scrollbar {
    display: none; 
}
  
.scroll-hidden {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

/**FLIP SLIDER ANIMATION **/
.flip-container {
    -webkit-perspective: 1000;
    background: transparent;
    margin: 100px auto;
}
/* flip the picture when hover */

.flip-container:hover .flipper,
.flip-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
    -webkit-transition: .595s;
}

.flipper {
    -webkit-transition: .595s;
    -webkit-transform-style: preserve-3d;
    position: relative;
}

.front,
.back {
    -webkit-backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
}

.back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
/**FLIP SLIDER ANIMATION **/

.absolute-center-y {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.grecaptcha-badge {
    display: none !important;
}